@import 'colors';
@import '../mixins/mixin';

.grid {
  margin: 90px 0 50px;
  display: flex;
  justify-content: space-around;

  img {
    width: 23%;
    @include image($cardBorderRadius, 5px);
  }
}
