@import 'colors';

header {
  background-color: $bg-hero;

  .box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoBox {
      width: 10%;

      img {
        width: 100%;
      }
    }

    nav ul {
      display: flex;

      li {
        list-style-type: none;
        margin-right: 20px;
        font-size: 0.8em;

        a:hover {
          color: $buttonOrange;
        }
      }
    }
  }
}
