@import 'colors';
@import '../mixins/mixin';

.hero {
  background-color: $bg-hero;
  height: 60vh;

  .box {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .left {
      width: 65%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        position: relative;
        opacity: 0;
        font-size: 5em;
        font-weight: 900;
        line-height: 1em;
        color: $titleColor;
        animation: 3s go-down 1s forwards;
      }

      p {
        position: relative;
        color: $textColor;
        opacity: 0;
        margin: 20px 0;
        font-size: 1.2em;
        animation: 3s go-down 1.5s forwards;
      }

      .buttonsBox {
        margin-top: 20px;

        a.first {
          @include heroButton($buttonBlu);
          animation-delay: 2s;
        }

        a.second {
          @include heroButton($buttonOrange);
          animation-delay: 2.2s;
        }

        a.third {
          @include heroButton($buttonGreen);
          animation-delay: 2.4s;
        }
      }
    }

    .right {
      width: 35%;

      img {
        position: relative;
        top: 130px;
        opacity: 0;
        width: 100%;
        @include image($cardBorderRadius, 15px);
        border: 3px solid white;
        animation: 3s go-up 0.5s forwards;
      }
    }
  }
}

@keyframes go-up {
  from {
    top: 250px;
    opacity: 0;
  }
  100% {
    top: 130px;
    opacity: 1;
  }
}

@keyframes go-down {
  from {
    bottom: 100px;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
